workflows/monthly-schedule.json
{
    "name": "月份行程彙整 to Heptabase",
    "id": "CqMLONcdFzucYYB1",
    "nodes": [
        {
            "parameters": {
                "formTitle": "月份行程彙整",
                "formDescription": "選擇要查詢的年月",
                "formFields": {
                    "values": [
                        {
                            "fieldLabel": "年份",
                            "fieldType": "number",
                            "placeholder": "2026",
                            "requiredField": true
                        },
                        {
                            "fieldLabel": "月份",
                            "fieldType": "dropdown",
                            "fieldOptions": {
                                "values": [
                                    {
                                        "option": "1"
                                    },
                                    {
                                        "option": "2"
                                    },
                                    {
                                        "option": "3"
                                    },
                                    {
                                        "option": "4"
                                    },
                                    {
                                        "option": "5"
                                    },
                                    {
                                        "option": "6"
                                    },
                                    {
                                        "option": "7"
                                    },
                                    {
                                        "option": "8"
                                    },
                                    {
                                        "option": "9"
                                    },
                                    {
                                        "option": "10"
                                    },
                                    {
                                        "option": "11"
                                    },
                                    {
                                        "option": "12"
                                    }
                                ]
                            },
                            "requiredField": true
                        }
                    ]
                },
                "options": {}
            },
            "id": "form-trigger",
            "name": "選擇月份",
            "position": [
                0,
                0
            ],
            "type": "n8n-nodes-base.formTrigger",
            "typeVersion": 2.5
        },
        {
            "parameters": {
                "jsCode": "const year = $json['年份'];\nconst month = $json['月份'];\n\nconst startOfMonth = DateTime.fromObject({ year, month, day: 1 }, { zone: 'Asia/Taipei' }).startOf('month');\nconst endOfMonth = startOfMonth.endOf('month');\n\nreturn [{\n  json: {\n    year,\n    month,\n    timeMin: startOfMonth.toISO(),\n    timeMax: endOfMonth.toISO()\n  }\n}];"
            },
            "id": "set-date-range",
            "name": "Set Date Range",
            "position": [
                220,
                0
            ],
            "type": "n8n-nodes-base.code",
            "typeVersion": 2
        },
        {
            "parameters": {
                "operation": "getAll",
                "calendar": {
                    "__rl": true,
                    "mode": "id",
                    "value": "answer4154@gmail.com"
                },
                "timeMin": "={{ $json.timeMin }}",
                "timeMax": "={{ $json.timeMax }}",
                "options": {}
            },
            "id": "get-events",
            "name": "Get Events",
            "position": [
                440,
                0
            ],
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1.3
        },
        {
            "parameters": {
                "jsCode": "const events = $input.all();\nconst dateRange = $('選擇月份').first().json;\nconst year = dateRange['年份'];\nconst month = parseInt(dateRange['月份']);\nconst startOfMonth = DateTime.fromObject({ year, month, day: 1 }, { zone: 'Asia/Taipei' });\nconst daysInMonth = startOfMonth.daysInMonth;\n\nlet markdown = '';\n\nif (events.length === 0) {\n  markdown = '*沒有任何行程*';\n} else {\n  const grouped = {};\n  \n  for (const item of events) {\n    const event = item.json;\n    const startStr = event.start?.dateTime || event.start?.date;\n    const start = DateTime.fromISO(startStr).setZone('Asia/Taipei');\n    const dayKey = start.day;\n    \n    if (!grouped[dayKey]) grouped[dayKey] = [];\n    grouped[dayKey].push(event);\n  }\n  \n  for (let day = 1; day <= daysInMonth; day++) {\n    if (grouped[day] && grouped[day].length > 0) {\n      markdown += `### ${month}/${day}\\n\\n`;\n      \n      const dayEvents = grouped[day].sort((a, b) => {\n        const timeA = a.start?.dateTime || a.start?.date || '';\n        const timeB = b.start?.dateTime || b.start?.date || '';\n        return timeA.localeCompare(timeB);\n      });\n      \n      for (const event of dayEvents) {\n        const isAllDay = event.start?.date && !event.start?.dateTime;\n        \n        if (isAllDay) {\n          markdown += `- All Day ${event.summary || '(無標題)'}\\n\\n`;\n        } else if (event.start?.dateTime) {\n          const start = DateTime.fromISO(event.start.dateTime).setZone('Asia/Taipei');\n          const end = DateTime.fromISO(event.end.dateTime).setZone('Asia/Taipei');\n          \n          if (start.hour === 0 && start.minute === 0 && end.hour === 0 && end.minute === 0) {\n            markdown += `- All Day ${event.summary || '(無標題)'}\\n\\n`;\n          } else {\n            markdown += `- ${start.toFormat('HHmm')}-${end.toFormat('HHmm')} ${event.summary || '(無標題)'}\\n\\n`;\n          }\n        }\n      }\n    }\n  }\n}\n\nreturn [{ json: { markdown } }];"
            },
            "id": "to-markdown",
            "name": "To Markdown",
            "position": [
                660,
                0
            ],
            "type": "n8n-nodes-base.code",
            "typeVersion": 2
        },
        {
            "parameters": {
                "chatId": "6237541249",
                "text": "={{ $json.markdown }}",
                "additionalFields": {
                    "appendnN8nAttribution": false
                }
            },
            "id": "send-telegram",
            "name": "Send to Telegram",
            "position": [
                880,
                0
            ],
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2
        }
    ],
    "connections": {
        "選擇月份": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Set Date Range",
                        "type": "main"
                    }
                ]
            ]
        },
        "Set Date Range": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Get Events",
                        "type": "main"
                    }
                ]
            ]
        },
        "Get Events": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "To Markdown",
                        "type": "main"
                    }
                ]
            ]
        },
        "To Markdown": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Send to Telegram",
                        "type": "main"
                    }
                ]
            ]
        }
    }
}