workflows/telegram-bot.json
{
    "name": "Telegram 行程查詢 Bot",
    "id": "v2C7zLs5PLMiuZRy",
    "description": "透過 Telegram 查詢行程。支援：今日/明天/指定日期/月份查詢。會自動判斷上班日或休假日。",
    "nodes": [
        {
            "id": "telegram-trigger",
            "name": "Telegram Trigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1.2,
            "position": [
                0,
                0
            ],
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            }
        },
        {
            "id": "parse-command",
            "name": "Parse Command",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                220,
                0
            ],
            "parameters": {
                "jsCode": "const message = $json.message?.text || '';\nconst now = DateTime.now().setZone('Asia/Taipei');\n\nlet timeMin, timeMax, queryType, month, year, day;\n\n// 解析指令\nif (message.includes('今日') || message.includes('今天') || message === '/today') {\n  queryType = 'today';\n  timeMin = now.startOf('day').toISO();\n  timeMax = now.endOf('day').toISO();\n} else if (message.includes('明天') || message === '/tomorrow') {\n  queryType = 'tomorrow';\n  const tomorrow = now.plus({ days: 1 });\n  timeMin = tomorrow.startOf('day').toISO();\n  timeMax = tomorrow.endOf('day').toISO();\n} else {\n  // 嘗試解析指定日期，例如 \"1/27\", \"1-27\", \"1月27日\", \"01/27\"\n  const dateMatch = message.match(/(\\d{1,2})[\\/-月](\\d{1,2})日?/);\n  if (dateMatch) {\n    month = parseInt(dateMatch[1]);\n    day = parseInt(dateMatch[2]);\n    year = now.year;\n    queryType = 'specificDay';\n    const targetDate = DateTime.fromObject({ year, month, day }, { zone: 'Asia/Taipei' });\n    timeMin = targetDate.startOf('day').toISO();\n    timeMax = targetDate.endOf('day').toISO();\n  } else {\n    // 嘗試解析月份，例如 \"1月\", \"2月\", \"3\"\n    const monthMatch = message.match(/(\\d{1,2})\\s*月?/);\n    if (monthMatch) {\n      month = parseInt(monthMatch[1]);\n      year = now.year;\n      if (month > now.month + 6) {\n        year = now.year - 1;\n      }\n      queryType = 'month';\n      const startOfMonth = DateTime.fromObject({ year, month, day: 1 }, { zone: 'Asia/Taipei' });\n      timeMin = startOfMonth.startOf('month').toISO();\n      timeMax = startOfMonth.endOf('month').toISO();\n    } else {\n      // 預設查詢今天\n      queryType = 'today';\n      timeMin = now.startOf('day').toISO();\n      timeMax = now.endOf('day').toISO();\n    }\n  }\n}\n\nreturn [{\n  json: {\n    queryType,\n    timeMin,\n    timeMax,\n    month: month || now.month,\n    day: day || now.day,\n    year: year || now.year,\n    chatId: $json.message?.chat?.id\n  }\n}];"
            }
        },
        {
            "id": "get-events",
            "name": "Get Events",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1.3,
            "position": [
                440,
                0
            ],
            "parameters": {
                "operation": "getAll",
                "calendar": {
                    "__rl": true,
                    "mode": "id",
                    "value": "answer4154@gmail.com"
                },
                "timeMin": "={{ $json.timeMin }}",
                "timeMax": "={{ $json.timeMax }}",
                "options": {}
            }
        },
        {
            "id": "to-markdown",
            "name": "To Markdown",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                660,
                0
            ],
            "parameters": {
                "jsCode": "const events = $input.all();\nconst queryInfo = $('Parse Command').first().json;\nconst queryType = queryInfo.queryType;\nconst month = queryInfo.month;\nconst year = queryInfo.year;\nconst chatId = queryInfo.chatId;\n\nlet markdown = '';\nconst leaveKeywords = ['輪休', '超補', '休假', '公假', '換休', '補休'];\n\nif (events.length === 0 && (queryType === 'today' || queryType === 'tomorrow' || queryType === 'specificDay')) {\n  // 當天沒有任何行程，顯示上班日\n  markdown = '- All Day 上班日\\n\\n';\n} else if (queryType === 'today' || queryType === 'tomorrow' || queryType === 'specificDay') {\n  // 檢查是否有休假\n  let hasLeave = false;\n  for (const item of events) {\n    const summary = item.json.summary || '';\n    if (leaveKeywords.some(kw => summary.includes(kw))) {\n      hasLeave = true;\n      break;\n    }\n  }\n  if (!hasLeave) {\n    markdown += '- All Day 上班日\\n\\n';\n  }\n  \n  const sortedEvents = events.sort((a, b) => {\n    const timeA = a.json.start?.dateTime || a.json.start?.date || '';\n    const timeB = b.json.start?.dateTime || b.json.start?.date || '';\n    return timeA.localeCompare(timeB);\n  });\n  \n  for (const item of sortedEvents) {\n    const event = item.json;\n    const isAllDay = event.start?.date && !event.start?.dateTime;\n    \n    if (isAllDay) {\n      markdown += `- All Day ${event.summary || '(無標題)'}\\n\\n`;\n    } else if (event.start?.dateTime) {\n      const start = DateTime.fromISO(event.start.dateTime).setZone('Asia/Taipei');\n      const end = DateTime.fromISO(event.end.dateTime).setZone('Asia/Taipei');\n      \n      if (start.hour === 0 && start.minute === 0 && end.hour === 0 && end.minute === 0) {\n        markdown += `- All Day ${event.summary || '(無標題)'}\\n\\n`;\n      } else {\n        markdown += `- ${start.toFormat('HHmm')}-${end.toFormat('HHmm')} ${event.summary || '(無標題)'}\\n\\n`;\n      }\n    }\n  }\n} else {\n  // 月份格式 - 顯示每一天\n  const startOfMonth = DateTime.fromObject({ year, month, day: 1 }, { zone: 'Asia/Taipei' });\n  const daysInMonth = startOfMonth.daysInMonth;\n  \n  const grouped = {};\n  for (const item of events) {\n    const event = item.json;\n    const startStr = event.start?.dateTime || event.start?.date;\n    const start = DateTime.fromISO(startStr).setZone('Asia/Taipei');\n    const dayKey = start.day;\n    if (!grouped[dayKey]) grouped[dayKey] = [];\n    grouped[dayKey].push(event);\n  }\n  \n  // 遍歷每一天\n  for (let day = 1; day <= daysInMonth; day++) {\n    markdown += `### ${month}/${day}\\n\\n`;\n    \n    if (grouped[day] && grouped[day].length > 0) {\n      // 檢查當天是否有休假\n      let dayHasLeave = false;\n      for (const event of grouped[day]) {\n        const summary = event.summary || '';\n        if (leaveKeywords.some(kw => summary.includes(kw))) {\n          dayHasLeave = true;\n          break;\n        }\n      }\n      if (!dayHasLeave) {\n        markdown += '- All Day 上班日\\n\\n';\n      }\n      \n      const dayEvents = grouped[day].sort((a, b) => {\n        const timeA = a.start?.dateTime || a.start?.date || '';\n        const timeB = b.start?.dateTime || b.start?.date || '';\n        return timeA.localeCompare(timeB);\n      });\n      \n      for (const event of dayEvents) {\n        const isAllDay = event.start?.date && !event.start?.dateTime;\n        \n        if (isAllDay) {\n          markdown += `- All Day ${event.summary || '(無標題)'}\\n\\n`;\n        } else if (event.start?.dateTime) {\n          const start = DateTime.fromISO(event.start.dateTime).setZone('Asia/Taipei');\n          const end = DateTime.fromISO(event.end.dateTime).setZone('Asia/Taipei');\n          \n          if (start.hour === 0 && start.minute === 0 && end.hour === 0 && end.minute === 0) {\n            markdown += `- All Day ${event.summary || '(無標題)'}\\n\\n`;\n          } else {\n            markdown += `- ${start.toFormat('HHmm')}-${end.toFormat('HHmm')} ${event.summary || '(無標題)'}\\n\\n`;\n          }\n        }\n      }\n    } else {\n      // 當天沒有行程，顯示上班日\n      markdown += '- All Day 上班日\\n\\n';\n    }\n  }\n}\n\nreturn [{ json: { markdown, chatId } }];"
            }
        },
        {
            "id": "send-reply",
            "name": "Reply to User",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                880,
                0
            ],
            "parameters": {
                "chatId": "={{ $json.chatId }}",
                "text": "={{ $json.markdown }}",
                "additionalFields": {
                    "appendAttribution": false
                }
            }
        }
    ],
    "connections": {
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Parse Command",
                        "type": "main"
                    }
                ]
            ]
        },
        "Parse Command": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Get Events",
                        "type": "main"
                    }
                ]
            ]
        },
        "Get Events": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "To Markdown",
                        "type": "main"
                    }
                ]
            ]
        },
        "To Markdown": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Reply to User",
                        "type": "main"
                    }
                ]
            ]
        }
    }
}