workflows/today-schedule.json
{
  "name": "今日行程彙整 to Heptabase",
  "id": "iTiR3K3V0FX8acQE",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "answer4154@gmail.com"
        },
        "timeMin": "={{ DateTime.now().setZone('Asia/Taipei').startOf('day').toISO() }}",
        "timeMax": "={{ DateTime.now().setZone('Asia/Taipei').endOf('day').toISO() }}",
        "options": {}
      },
      "id": "get-today-events",
      "name": "Get Today Events",
      "position": [224, 0],
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "jsCode": "const events = $input.all();\n\nlet markdown = '';\n\nif (events.length === 0) {\n  markdown = '*沒有任何行程*';\n} else {\n  const sortedEvents = events.sort((a, b) => {\n    const timeA = a.json.start?.dateTime || a.json.start?.date || '';\n    const timeB = b.json.start?.dateTime || b.json.start?.date || '';\n    return timeA.localeCompare(timeB);\n  });\n  \n  for (const item of sortedEvents) {\n    const event = item.json;\n    const isAllDay = event.start?.date && !event.start?.dateTime;\n    \n    if (isAllDay) {\n      markdown += `- All Day ${event.summary || '(無標題)'}\\n\\n`;\n    } else if (event.start?.dateTime) {\n      const start = DateTime.fromISO(event.start.dateTime).setZone('Asia/Taipei');\n      const end = DateTime.fromISO(event.end.dateTime).setZone('Asia/Taipei');\n      \n      if (start.hour === 0 && start.minute === 0 && end.hour === 0 && end.minute === 0) {\n        markdown += `- All Day ${event.summary || '(無標題)'}\\n\\n`;\n      } else {\n        markdown += `- ${start.toFormat('HHmm')}-${end.toFormat('HHmm')} ${event.summary || '(無標題)'}\\n\\n`;\n      }\n    }\n  }\n}\n\nreturn [{ json: { markdown } }];"
      },
      "id": "to-markdown",
      "name": "To Markdown",
      "position": [448, 0],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "chatId": "6237541249",
        "text": "={{ $json.markdown }}",
        "additionalFields": {
          "appendnN8nAttribution": false
        }
      },
      "id": "send-telegram",
      "name": "Send to Telegram",
      "position": [672, 0],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    }
  ],
  "connections": {
    "Get Today Events": {
      "main": [[{"index": 0, "node": "To Markdown", "type": "main"}]]
    },
    "To Markdown": {
      "main": [[{"index": 0, "node": "Send to Telegram", "type": "main"}]]
    },
    "Schedule Trigger": {
      "main": [[{"node": "Get Today Events", "type": "main", "index": 0}]]
    }
  }
}
