workflows/today-schedule.json
{
  "name": "今日行程彙整 to Heptabase",
  "id": "iTiR3K3V0FX8acQE",
  "description": "每天早上 6 點自動執行，發送今日行程到 Telegram。會自動判斷上班日或休假日。",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "get-today-events",
      "name": "Get Today Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        224,
        0
      ],
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "answer4154@gmail.com"
        },
        "timeMin": "={{ DateTime.now().setZone('Asia/Taipei').startOf('day').toISO() }}",
        "timeMax": "={{ DateTime.now().setZone('Asia/Taipei').endOf('day').toISO() }}",
        "options": {}
      }
    },
    {
      "id": "to-markdown",
      "name": "To Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "parameters": {
        "jsCode": "const events = $input.all();\n\nlet markdown = '';\nconst leaveKeywords = ['輪休', '超補', '休假', '公假', '換休', '補休'];\nlet hasLeave = false;\n\nfor (const item of events) {\n  const summary = item.json.summary || '';\n  if (leaveKeywords.some(keyword => summary.includes(keyword))) {\n    hasLeave = true;\n    break;\n  }\n}\n\nif (!hasLeave) {\n  markdown += '- All Day 上班日\\n\\n';\n}\n\nif (events.length > 0) {\n  const sortedEvents = events.sort((a, b) => {\n    const timeA = a.json.start?.dateTime || a.json.start?.date || '';\n    const timeB = b.json.start?.dateTime || b.json.start?.date || '';\n    return timeA.localeCompare(timeB);\n  });\n  \n  for (const item of sortedEvents) {\n    const event = item.json;\n    const isAllDay = event.start?.date && !event.start?.dateTime;\n    \n    if (isAllDay) {\n      markdown += `- All Day ${event.summary || '(無標題)'}\\n\\n`;\n    } else if (event.start?.dateTime) {\n      const start = DateTime.fromISO(event.start.dateTime).setZone('Asia/Taipei');\n      const end = DateTime.fromISO(event.end.dateTime).setZone('Asia/Taipei');\n      \n      if (start.hour === 0 && start.minute === 0 && end.hour === 0 && end.minute === 0) {\n        markdown += `- All Day ${event.summary || '(無標題)'}\\n\\n`;\n      } else {\n        markdown += `- ${start.toFormat('HHmm')}-${end.toFormat('HHmm')} ${event.summary || '(無標題)'}\\n\\n`;\n      }\n    }\n  }\n}\n\nreturn [{ json: { markdown } }];"
      }
    },
    {
      "id": "send-telegram",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        0
      ],
      "parameters": {
        "chatId": "6237541249",
        "text": "={{ $json.markdown }}",
        "additionalFields": {
          "appendnN8nAttribution": false
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Today Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today Events": {
      "main": [
        [
          {
            "index": 0,
            "node": "To Markdown",
            "type": "main"
          }
        ]
      ]
    },
    "To Markdown": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send to Telegram",
            "type": "main"
          }
        ]
      ]
    }
  }
}